.services-section li:nth-child(odd) .services-text {
  order: -1;
}
.services-section li .services-show {
  width: 400px;
  max-width: 400px;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

@media screen and (max-width: 1024px) {
  .services-section li .services-text {
    order: -1;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .services-section li .services-show {
    max-width: 250px;
  }
}
